<form action="/students" method="post">
  <label for="first-name"> First name</label>
  <input id= "first-name" type="text" name="first_name">

  <label for="last-name"> Last name</label>
  <input id= "last-name" type="text" name="last_name">

  <label for="house-select">Select a house</label>
  <select name="house" id="house-select">
  <option value="Griffindor"> Griffindor  </option>
  <option value="Slytherin"> Slytherin</option>
  <option value="Ravenclaw"> Ravenclaw</option>
  <option value="Hufflepuff"> Hufflepuff</option>
  </select>



  <label for="age"> Age</label>
  <input id= "age" type="number" name="age">

  <input type="submit" value="Enroll at Hogwarts">

</form>
